/* FEUILLE DE STYLES POUR TOUS LES STYLES DE L'APPLICATION 
(Remarque : à plusieurs reprises, l'attribut color:black est précisé bien qu'il 
ne soit pas utile ; ceci permet une validation du W3C sans avertissement. 
Idem pour background-color) */

/* Style de base pour la page (couleur fond : ocre, couleur texte : noir) */
.basePage 
{
   background-color:white;
   color:black;
   font:11px Georgia, "Times New Roman", Times, serif;
}

/* Style pour le titre (couleur du texte : rouge) */
.titre 
{
   background-color:white ;
   color:#000000;
   font:30px "fantasy";
   text-align:center;
}

/* Style pour le texte de 2ème niveau du titre */
.texteNiveau2
{
   font:20px Georgia, "Times New Roman", Times, serif, italic;;
}

/* Style pour le texte de la page d'accueil (couleur : bleu foncé avec mise en
gras et en italique) */
.texteAccueil
{
   background-color:#ffffff;
   color:#000000;       
   font:14px Georgia, "Times New Roman", Times, serif;
   font-weight: 500;
   text-align:center;
   
}

.texteAccueil2
{
   background-color:#ffffff;
   color:#000000;       
   font:50px "Times New Roman", Times, serif;
   text-align:center;
   font-weight: 500;
}

.texteAccueil3
{
   /* background-color:#ffffff; */
   color:#000000;       
   font:14px "Times New Roman", Times, serif;
   font-weight: 500;
}


/* Style pour le texte dans les différentes balises citées */
td,tr 
{
   font:11px Georgia, "Times New Roman", Times, serif;
}

/* Navbar */

.navbar {
   font:14px Georgia, "Times New Roman", Times, serif;
   overflow: hidden;
   width: 100%;
   line-height: 100px;
   text-align: right;
}

.navbar a {
   /* float: right; */
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   padding: 0 20px;
 }

.navbar img {
   float: left;
}
 

/* STYLES POUR LES MENUS */

/* Style du tableau contenant les éléments de menu : fond bleu ciel, épaisseur 
1px, espacement de 3x entre la bordure gauche de chaque cellule et le texte et
texte centré */
table.tabMenu td
{
   background-color:hsl(0, 0%, 100%);
   color:rgb(0, 0, 0);
   border-bottom:1px solid #777777;
   padding: 0 50px;
   width:33%;
   height:100px;
   font:14px Georgia, "Times New Roman", Times, serif;
   text-align:center;
} 

a, a:hover, a:visited, a:active
{
	color:rgb(0, 0, 0);
	text-decoration:none;
}

/* Style pour les éléments du menu (mise en gras et italique) */ 
.menu1
{
   
   font:11px Georgia, "Times New Roman", Times, serif;
   font-weight:bold;
   font-style:italic;
   text-align:left;
}

/* STYLES POUR LES TABLEAUX QUADRILLÉS */

/* Style des tableaux avec quadrillage : épaisseur du quadrillage 1px, 
espacement de 3x entre la bordure gauche de chaque cellule et le texte */
table.tabQuadrille td
{
   border-bottom:1px solid #000000;
   border-right:1px solid #000000;
   border-left:1px solid #000000;
   border-top:1px #000000;
   padding-left:3px;
} 

/* Style pour la 1ère ligne d'en-tête des tableaux quadrillés : fond avec 
nuances de jaune et texte centré */
tr.enTeteTabQuad
{
   background-image:url('../images/xpBarre.jpg');
   height:21px;
   text-align:center;
} 

/* Style pour les lignes (autres que la 1ère ligne d'en-tête) des tableaux 
quadrillés : fond écru et texte centré */
tr.ligneTabQuad 
{
   background-color:#fdfdfd;
   text-align:center;
   color:black;
}

/* STYLES POUR LES TABLEAUX NON QUADRILLÉS */

/* Style des tableaux sans quadrillage : fond écru, épaisseur de la bordure 
1px */
table.tabNonQuadrille 
{
   background-color:#FFFFE0;
   border-bottom:1px solid #777777;
   border-right:1px solid #777777;
   border-left:1px solid #777777;
   border-top:1px #777777;
   color:black;
}
 
/* Style pour la ligne d'en-tête des tableaux non quadrillés : fond avec 
nuances de jaune, texte centré et en gras et trait bas pour séparer l'en-tête du 
corps du tableau */
tr.enTeteTabNonQuad td
{
   background-image:url('../images/xpBarre.jpg');
   height:21px;
   text-align:center;
   font-weight:bold;
   border-bottom:1px solid #777777;
} 

/* Style pour les lignes (autres que la 1ère ligne d'en-tête) des tableaux non 
quadrillés : fond écru, hauteur plus importante, texte aligné à gauche et 
espacement de 3px entre la bordure gauche de chaque cellule et le texte */
tr.ligneTabNonQuad td
{
   background-color:#FFFFE0;
   height:28px;
   text-align:left;
   padding-left:3px;
   color:black;
} 

/* STYLE POUR LES MESSAGES D'ERREUR AFFICHÉS EN BAS DE PAGE (FOND : OCRE, 
COULEUR DU TEXTE : ROSE) */

.msgErreur
{
   background-color:#FFDD88;
   color:#FF00CC;
   font-size:14px;
}

/* STYLES POUR LES ATTRIBUTIONS */

/* Fond blanc */
td.reserveSiLien
{
   background-color:#FFFFFF;
   color:black;
}

/* Fond parme */
td.reserve
{
   background-color:#FFBEFF;
   color:black;
}

table.cinereousTable {
   
   background-color: #f0d6bb;
   height : 320px;
   width : 520px;
 }
 table.cinereousTable td, table.cinereousTable th {
   
   padding: 4px 4px;
 }
 table.cinereousTable tbody td {
   font-size: 13px;
 }
 table.cinereousTable tfoot td {
   font-size: 16px;
 }

.titre_foot
{
   color:#000000;       
   font:18px "Times New Roman", Times, serif;
}

.column {
   float: left; 
   text-align: center;
   width: 50%;
}

.row:after {
   content: "";
   display: table;
   clear: both;
   
   padding: 10px;
}

.title-column
{
   color:#000000;       
   font:18px "Times New Roman", Times, serif;
   text-align:center;
   font-weight: 500;
}

.img-column {
   width: 80%;
}

.text-padding {
   padding: 0 15px;
}